image:
  - Visual Studio 2022

environment:
  GIT_LFS_SKIP_SMUDGE: 1

shallow_clone: true

# Ensure this matches where you are running CMake
clone_folder: c:\projects\source

# This is the critical line to stop the "No project files found" error
build: off

build_script:
  - cmd: >-
      cmake -S c:\projects\source -B ./build -G "Visual Studio 17 2022" -A x64 -DCMAKE_BUILD_TYPE=Release
      
      cmake --build ./build --target ALL_BUILD --config Release
